unittest/compiler-fixtures/*.ast whitespace=-trailing-space
unittest/compiler-fixtures/*.transform whitespace=-trailing-space
unittest/compiler-fixtures/*.diagnostics whitespace=-blank-at-eof
unittest/compiler-fixtures/*.c whitespace=-blank-at-eof
unittest/compiler-fixtures/**/*.c whitespace=-blank-at-eof
bootstrap/**/*.c whitespace=-blank-at-eof
